/* CardPrincipalHome.css */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transition-colors {
  transition: background-color 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade {
  animation: fade-in 0.3s ease-in-out forwards;
}

.animate-fade-exit {
  animation: fade-out 0.3s ease-in-out forwards;
}
